* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color:white;
   }

   
  h1 {
    text-align: center;
    margin: 20px;
    font-size: 175%;

  }
  
  p {
    padding: 5px;
    text-align: left;
    margin-top: 45px;
    text-indent: 30px;
  }


  .container {
    position: relative;
    padding: 5;
    max-height: 100%;
    max-width: 100%

    
  }
  .section1, .section2, .section3 {
    border: solid rgb(8, 8, 8);
    position: relative;
    height: 180px;
    background-color: gray;
    border-radius: 10px;
    

  }
  .section1, .section2 {
    display: flex;

} 

  #sca {
    background-color: rgb(131, 74, 74);
    color: white;
  }

  #shr {
    background-color: rgba(239, 211, 135, 0.971);
  }  

  #lob {
    background-color: rgba(81, 124, 118, 0.971);
    color: white;
  }
  h2 {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    top: -3;
    right: -3;
    width: 48%;
    height: 25%;
    font-size: 125%;
    border: solid rgb(6, 6, 6);
    box-sizing: border-box;
  }

  a:hover, a:active {
    background-color: red;
    color: yellow; 
    cursor: pointer;
}

  
  /* Desktop view - 992px and above */
  @media (min-width: 992px) {
    .container {
      justify-content: space-between;
      display: flex;
    }
    .section1, .section2, .section3 {
      width: 32.3%;
      overflow: scroll; 
      
    }
 
  }
  
  /* Tablet view - between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
        display: inline-block;
        grid-auto-flow: row;
    }
   
    .section1, .section2, .section3 {
      width: 49%;
      overflow: scroll;
      margin-bottom: 15px;
    
    }

    .section1 {
      float: left;  
    }

    .section2 {
       float: right;
    }
    .section1, .section2 {
        display: flex;
        justify-content: space-between;
    }
    
    .section3 {
      width: 100%;
      overflow: scroll;
      
    }
  }
  
  /* Mobile view - 767px and below */
  @media (max-width: 767px) {
    .section1, .section2, .section3 {
      flex: 100%;
      min-width: 100%;
      overflow: scroll;
      margin-bottom: 15px;

      

    }
  }
